.asideHome {
  width: 20%;
  background-color: $bg-low-clr;
  border-radius: 10px;
  height: fit-content;
  position: relative;
}

.asideHome-container {
  width: 100%;
}

.asideHome-profile {
  width: 30%;
}

.asideHome-wallet-balance {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px 10px;
}

.asideHome-wallet-cryptocurrency {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
}

.asideHome-wallet-cryptocurrency-item {
  width: 100%;
}

.asideHome-wallet-cryptocurrency-box-information {
  margin-left: 10px;
}

.asideHome-wallet-cryptocurrency-box-logo {
  width: 20%;
}

.asideHome-recent-activity {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px 10px;
  height: 40vh;
  overflow-y: auto;

}

.asideHome-recent-activity-table {
  border-collapse: separate;
  border-spacing: 0 1em;

  th {
    border-bottom: 1px solid $gray-clr;
    color: $gray-clr;
    font-weight: 100;
    font-size: 0.7rem;
    padding-bottom: 7px;
  }

  tbody {
    tr {
      background-color: $bg-low-clr;
      display: table-row;
      border-radius: 10px;
    }

    td {
      font-size: 0.7rem;
      padding: 10px;
      //font: $font-family-main-light;
    }

    tr:first-child td:first-child {
      border-top-left-radius: 10px;
    }

    tr:first-child td:last-child {
      border-top-right-radius: 10px;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
    }

  }
}


.asideHome-recent-activity-btn {
  background-color: $main-clr;
  height:30px;
  color:white;
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
}

.asideHome-login-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: $main-clr;
  height:30px;
  color:white;
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
}

.asideHome-wallet-cryptocurrency-box-information {
  h4 {
    color: $gray-clr;
    font-size: 0.8rem;
  }
}

.blurAsideHome {
  filter: blur(15px);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  border: 1px solid $gray-clr;
}


@media only screen and (max-width: 1024px) {
  .asideHome {
    display: none;
  }

}