.dashboard-aside {
  width: 20%;
  min-height: 100vh;
  border-radius: 10px;
}

.container-dashboard-aside {


ul{
  li {
    background-color: $main-low-clr;
    color: $main-clr;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

}

.container-dashboard-aside {


ul{
  .active-dashboard-aside {
    background-color: $main-clr;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

}

