.homeBody {
  width: 80%;
  margin-left: 15px;
}

.digital-currency-statistics {
  width: 100%;
}

.digital-currency-statistics-item {
  width: 24%;
  border-radius: 10px;
  padding: 15px 0px;
}

.dcsi-up {
  background-color: $green-low-clr;

  .digital-currency-statistics-time {
    color: $green-clr;
  }
}

.dcsi-down {
  background-color: $red-low-clr;

  .digital-currency-statistics-time {
    color: $red-clr;
  }
}

.digital-currency-statistics-ng {
  width: 12%;

  p {
    color: $gray-clr;
    font-size: 0.7rem;
  }
}

.digital-currency-statistics-price {
  p {
    color: $gray-clr;
    font-size: 0.7rem;
  }
}

.digital-currency-statistics-time {
  p {
    color: $gray-clr;
    font-size: 0.7rem;
  }
}

.digital-currency-statistics-updown {
  width: 15%;
}


.home-table-tabs {
  margin-left: 15px;
  border-bottom: 1px solid #fff;
  margin-bottom: -2px;
  z-index: 5;
  position: relative;
}


.home-table-options {
  margin-top: 15px;
}

//////////////////////////////////body

.home-table {
  width: 100%;
  margin-top: 20px;
}

.home-table-container {
  width: 100%;

}

///////////tabs start


.home-table-tab-BS {
  background-color: $bg-low-clr;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
  margin-right: 20px;
}

.home-table-tab-BS-btn-B {
  border: none;
  background-color: $green-clr;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

.home-table-tab-BS-btn-S {
  border: none;
  background-color: $red-clr;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

.home-table-tab-BS-btn-noselect {
  background-color: transparent !important;
  color: black !important;
}

.home-table-tab-currency {
  padding: 10px 10px 0px 10px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 11px solid #fff;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}


.home-table-tab-currency-btn {
  border: none;
  background-color: transparent;
  color: $main-disabled-clr;
  padding: 5px 15px;
}

.home-table-tab-currency-btn-selected {
  color: $main-clr;
  border-bottom: 5px solid $main-clr;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px 4px 0 0;

}

.home-table-tab-currency-btn-no-selected {

  border-bottom: 5px solid $main-disabled-clr;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px 4px 0 0;
}


/////////tabs end


////////table

.home-table-box {
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 10px;
}


///table options start

.home-table-option-item {
  margin-right: 15px;

  label {
    color: $gray-clr;
    font-size: 0.8rem;
    margin-right: 8px;
  }
}

.home-table-option-item-selects {
  select {
    border: none;
    background-color: $main-low-clr;
    border-radius: 10px;
    padding: 5px;
    color: $main-clr;
  }
}

.home-table-option-item-amount {
  border: 1px solid $main-clr;
  border-radius: 10px;

  background-color: $main-clr;

  input {
    border: none;
    padding: 5px;
    border-radius: 10px;
  }

  svg {
    color: white;
    margin: 5px;
  }
}


.home-table-option-item-refresh {
  border: none;
  background-color: $main-clr;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;

  svg {
    margin-left: 5px;
  }
}


///table options end


//////table statistics

.home-table-box-table {
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.home-table-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;

  th {
    color: $gray-clr;
    font-weight: 100;
    text-align: start;
  }

  tbody {
    tr {
      background-color: white;
      display: table-row;
      border-radius: 10px;
    }

    tr:nth-child(even) {
      background-color: $bg-low-clr;
    }

    td {
      font-size: 0.8rem;
      padding: 5px;
    }

    td:first-child,
    th:first-child {
      border-radius: 10px 0 0 10px;
    }

    td:last-child,
    th:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}

.home-table-merchant {
  .home-table-merchant-img {
    width: 30px;
  }

  h2 {
    margin: 3px;
  }

  p {
    font-size: 0.8rem;
    color: $gray-clr;
    margin: 3px;
  }

  div {
    margin: 3px;
    color: $green-clr;

    svg {
      color: $green-clr;
      margin-right: 5px;
    }
  }
}

.home-table-merchant-down {
  .red-color {
    color: $red-clr;

    svg {
      color: $red-clr;
      margin-right: 5px;
    }
  }
}

.home-table-price {
  h2 {
    margin: 3px;
    font-size: 1.2rem;

    p {
      font-size: 0.8rem;
      color: $gray-clr;
    }
  }

  .red-color {
    color: $red-clr;
  }

  span {
    margin: 3px;
    color: $green-clr;
  }
}


.home-table-LA {
  div {
    margin: 3px;
    color: $gray-clr;

    span {
      color: black;
      margin-left: 5px;
    }
  }
}

.home-table-payment {
  div {
    padding: 5px;
    background-color: white;
    color: $main-clr;
    border-radius: 10px;
    width: fit-content;
  }
}

.home-table-trade-Buy {
  button {
    background-color: $green-clr;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
}

.home-table-trade-Sell {
  button {
    background-color: $red-clr;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
}


///////table end

.home-table-table-mobile {
  display: none;
}

.home-table-table-box-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}


@media only screen and (max-width: 1024px) {
  .digital-currency-statistics-container {
    flex-direction: column;
  }
  .digital-currency-statistics-item {
    width: 100%;
  }
  .home-table-tabs {
    flex-direction: column;
    margin: 0px;
  }
  .home-table-options {
    flex-direction: column;
  }
  .home-table-option-item {
    margin: 10px 0px;
  }
  .home-table-table {
    display: none;
  }
  .home-table-table-mobile {
    display: flex;
    flex-direction: column;
  }
  .home-table-trade-buy {
    button {
      width: 100%;
    }

  }
  .homeBody {
    width: 100%;
    margin-left:0px;
  }

  .home-table-tab-currency {
    border: none;
  }

  .home-table-tab-BS {
    border-radius: 10px;
    width: fit-content;
  }

  .box-menu__btn {
    /* background-color: aqua; */
    width: 100vw;
    /* height: 100px; */
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
     left: 0px;
    width: 100vw;
    height: 60px;
    cursor: pointer;
    z-index: 1;
    background-color: white;

  }
}