.gray-clr {
  color: $gray-clr;
}
.white-clr {
  color: white;
}

.main-clr {
  color: $main-clr;
}

.main-disabled-clr {
  color: $main-disabled-clr;
}

.main-low-clr {
  color: $main-low-clr;
}

.bg-low-clr {
  color: $bg-low-clr;
}

.green-clr {
  color: $green-clr;
}

.green-low-clr {
  color: $green-low-clr;
}

.red-clr {
  color: $red-clr;
}

.red-low-clr {
  color: $red-low-clr;
}

.green-low-clr {
  color: $green-low-clr;
}

.black-clr {
  color: black;
}

.black-bg {
  background-color: black;
}


.gray-clr-bg {
  background-color: $gray-clr;
}

.main-clr-bg {
  background-color: $main-clr;
}

.main-disabled-clr-bg {
  background-color: $main-disabled-clr;
}

.main-low-clr-bg {
  background-color: $main-low-clr;
}

.bg-low-clr-bg {
  background-color: $bg-low-clr;
}

.green-clr-bg {
  background-color: $green-clr;
}

.green-low-clr-bg {
  background-color: $green-low-clr;
}

.red-clr-bg {
  background-color: $red-clr;
}

.red-low-clr-bg {
  background-color: $red-low-clr;
}

.green-low-clr-bg {
  background-color: $green-low-clr;
}

.white-clr-bg {
  background-color: white;
}

