.tabbar-create-offer-container {
  border: 1px solid $main-clr;
  background-color: white;
}

.btn-tabbar-create-offer {
  width: 50%;
  border: none;
  background-color: transparent;
  color: $main-clr;
  font-weight: bold;
}

.btn-tabbar-create-offer-active {
  background-color: $main-clr;
  color: white;
}
.input-box-form-dashborad {
  border: 1px solid $main-clr;
  border-radius: 10px;
  padding: 10px;
}
.dashborad-form {
  label {
    //color: $gray-clr;

  }

  .radio-label {
      //color: black;
  }

  hr {
    border-color: #ffffff;
  }



  select {
    border: 1px solid $main-clr;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }

  textarea {
    border: 1px solid $main-clr;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    height: 100px;
  }
}

.btn-submit-dashborad {
  background-color: $main-clr;
  color: white;
  padding: 10px;
  border: none;
  border-radius:10px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}


.btn-submit-request {
  color: white;
  padding: 10px;
  border: none;
  border-radius:10px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}