.tags-add-payment-method {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.tag-add-payment-method {
  display: flex;


}
.color-tags-add-payment-method {
  width: 5px;
  height: 19px;
  margin-right: 5px;
  border-radius: 5px;
}