@font-face {
  font-family: 'myhamedan';
  // src: url('../fonts/bd84acf61e0af29bab6db956e6182bf0.eot');
  src: url('../fonts/MTNIrancell-Light.woff') format('woff');
}
@font-face {
  font-family: 'myhamedanBold';
  // src: url('../fonts/bd84acf61e0af29bab6db956e6182bf0.eot');
  src: url('../fonts/MTNIrancell-Bold.woff') format('woff');
}
$font-family-main: 'myhamedan';
$font-family-main-bold: 'myhamedanBold';